.icon-left {
    padding-left: 30px;
    position: relative;

    &:before {
        content: '';
        position: absolute;
        width: 19px;
        height: 19px;
        left: 0;
        top: 0;
    }

    &--atricle {

        &:before {
            //background-image: url("");
        }
    }
}