/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/storage/
/public/uploads/
/public/uploads/brands/
/public/uploads/courses/
/public/uploads/guides/files/
/public/uploads/guides/img/
/public/uploads/posts/
/public/uploads/products/multiImages/
/public/uploads/products/docs/
/public/uploads/products/thumbnail/
/public/uploads/resources/files/
/public/uploads/resources/img/
/public/uploads/users/
