.register_page .register_form .left,
.register_page .register_form .right {
    display: inline-block;
    width: 48%;
    margin: 0 6px 0 6px;
}
.login_page input.remember {
    opacity: 1;
}
.container-full {
    margin: 20px;
}
.bootstrap-tagsinput .tag {
    margin-right: 2px;
    color: antiquewhite;
    background: blueviolet;
    padding: 2px;
}
