.sv-content-detail {
    $p: '.sv-content';

    #{$p}__main {

    }

    #{$p}__block {
        padding: 20px 30px;
        background-color: $c-white;
        margin-bottom: 25px;

        @include small-size-max {
            padding: 20px 15px;
        }

        &--pb-100 {
            padding-bottom: 100px;

            @include small-size-max {
                padding-bottom: 60px;
            }
        }

        &.video-block {
            padding-bottom: 37px;
        }

        &.article-block {
            padding-bottom: 80px;

            @include small-size-max {
                padding-bottom: 60px;
            }
        }

        .type-title {
            color: $c-green;
            font-size: 18px;
            font-weight: 700;
            margin: 0 0 25px;

            @include medium-size-max {
                margin: 0 0 20px;
            }

            @include  small-size-max {
                margin-bottom: 10px;
            }

            &--no-margin {
                margin: 0;
            }

            &--mb-45 {
                margin-bottom: 45px;

                @include small-size-max {
                    margin-bottom: 30px;
                }
            }
        }

        .title-subject {
            font-size: 40px;
            font-weight: 300;
            line-height: normal;

            @include medium-size-max {
                font-size: 32px;
            }

            &--no-margin {
                margin: 0;
            }
        }

        p {
            margin-top: 25px!important;

            @include  medium-size-max {
                margin-top: 15px!important;
            }

            &:first-of-type {
                margin-top: 0!important;
            }
        }

        #{$p}__date {
            display: inline-block;
            margin-bottom: 10px;
        }
    }

    .small-white.small-white-right {
        padding: 0;

        form {

            .sharing_form__link-gen {
                display: grid;
                grid-template-columns: 45% 52%;
                gap: 0 1%;
                margin-bottom: 30px;

                @include large-size-max {

                    grid-template-columns: 1fr;
                    gap: 10px 0;
                }

                input[type="checkbox"] {

                    + label {
                        width: 100%;
                        background: #fff;
                        border-radius: 8px;
                        text-align: left;
                        padding: 4px 10px;
                        color: #1e1e1e;
                        font-family: "Work Sans", sans-serif;
                        font-size: 9px;
                        font-weight: 400;
                        line-height: 1.6;

                        &:before {
                            content: '';
                            width: 14px;
                            height: 14px;
                            border-radius: 10px;
                            background-color: #ccc;
                            position: absolute;
                            right: 25px;
                            top: 50%;
                            transform: translateY(-50%);
                            margin: 0;
                            transition: all .3s;
                        }

                        &:after {
                            width: 29px;
                            height: 13px;
                            border: 1px solid #ccc;
                            border-radius: 10px;
                            background-color: transparent;
                            content: '';
                            position: absolute;
                            right: 10px;
                            top: 50%;
                            transform: translateY(-50%);
                            margin: 0;
                        }
                    }

                    &:checked + label {

                        &:before {
                            right: 10px;
                            background-color: #00c7c7;
                        }
                    }
                }

                input[type="url"] {
                    height: 23px;
                    background: #fff!important;
                    font-size: 9px;
                    font-weight: 400;
                    border-radius: 10px;
                    padding: 4px 10px;
                }
            }
        }
    }

    .download_block {

        @include small-size-max {
            margin-bottom: 40px;
        }

        .word-pdf-button {

            @include large-size-max {
                width: 100%;
                margin: 0 0 10px;

                &:last-of-type {
                    margin-bottom: 0;
                }
            }
        }
    }

    .single_article_sharing_block {

        .download_block {

            @include medium-size-max {
                padding-bottom: 0;
                border: none;
            }
        }

        .sharing_block {
            margin-top: 30px;

            @include medium-size-max {
                margin-top: 0;
            }
        }


        h5 {

            @include  medium-size-max {
                margin-top: 30px!important;
            }
        }
    }
}

.header {

    .sv-login-wrapper {
        display: grid;
        justify-items: center;
        gap: 5px;
        margin-left: 130px;

        .btn.login {
            margin-left: 0;
        }

        .sv-login-link {
            font-size: 12px;
            color: $c-white;
            font-weight: 700;
            letter-spacing: normal;
            font-family: 'Roboto', sans-serif;

            a {
                font-size: inherit;
                color: inherit!important;
                margin-left: 3px;
                transition: color .3s;

                &:hover {
                    color: $c-green!important;
                }
            }
        }
    }

    &.scrolled {
        .sv-login-wrapper {
            display: grid;
            justify-items: center;
            gap: 5px;
            margin-left: 130px;

            .btn.login {
                margin-left: 0;
            }

            .sv-login-link {
                color: #707b93;
            }
        }
    }
}

.page-blog, .page-contact, .page-sign-up, .page-advisorlogin, .page-faq {

    .sv-login-wrapper {

        .sv-login-link {
            color: #707b93;
        }
    }
}

.page-home {

    .sv-login-wrapper {

        .sv-login-link {
            color: #959eb3;

            @media (max-width: 1900px) {
                color: $c-white;
            }
        }
    }
}

.page-about {

    .header {

        .sv-login-wrapper {

            .sv-login-link {

                a:hover {
                    color: #707b93!important;
                }
            }
        }

        &.scrolled {

            .sv-login-wrapper {

                .sv-login-link {

                    a:hover {
                        color: $c-green!important;
                    }
                }
            }
        }
    }
}