.sv-actions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin-bottom: 10px;

    @include medium-size-max {
        gap: 20px;
    }

    @include small-size-max {
        grid-template-columns: 1fr;
    }
}

.sv-action {
    padding: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.03);
    border-radius: 8px;
    border: 1px solid #f1f1f1;
    background-color: #ffffff;
    display: flex;
    align-items: center;

    @include large-size-max {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    @include small-size-max {
        padding: 20px;
    }

    &__img {

        @include large-size-max {
            margin-bottom: 10px;
        }
    }

    &__description {
        margin-left: 30px;
        color: #12234c;
        font-family: "Work Sans", sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.72;

        @include large-size-max {
            margin-left: 0;
        }
    }

    &__button {
        margin-left: auto;

        @include large-size-max {
            margin-left: 0;
            margin-top: 5px;
        }

        .sv-button {
            padding-top: 5px;
            padding-bottom: 5px;
        }
    }
}

.sv-vertical-actions {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin-bottom: 30px;

    @include medium-size-max {
        grid-template-columns: 1fr;
    }

    @include small-size-max {
        gap: 20px;
        margin-bottom: 20px;
    }
}

.sv-button-import {
    min-width: 160px;
}


.sv-action-vertical {
    padding: 35px 25px 30px;
    border-radius: 8px;
    background-color: #f9fafb;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__img {
        margin-bottom: 25px;
        height: 50px;

        @include extra-small-size-max {
            margin-bottom: 15px;
        }
    }

    &__tag {
        color: rgba($c-black, .5);
        font-family: "Roboto", sans-serif;
        font-size: 10px;
        font-weight: 500;
        letter-spacing: 1px;
        line-height: 1.2;
        text-transform: uppercase;
        display: inline-block;
        margin-bottom: 10px;

        @include extra-small-size-max {
            margin-bottom: 5px;
        }
    }

    &__description {
        color: #12234c;
        font-family: "Work Sans", sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.72;
    }

    &__button {
        margin-top: auto;

        .sv-button {
            margin-top: 20px;
            padding-top: 5px;
            padding-bottom: 5px;

            @include extra-small-size-max {
                margin-top: 10px;
            }
        }
    }
}