.campaigns-report {

    .sv-container {
        background-color: $c-white;
        padding: 30px;
        box-shadow: 0 12px 36px rgba($c-black, 0.06);
        margin-top: 10px;
        border-radius: 12px 12px 0 12px;

        @include small-size-max {
            padding: 15px;
        }
    }

    &__charts {
        display: flex;
        margin-bottom: 30px;

        @include medium-size-max {
            flex-wrap: wrap;
            justify-content: flex-start;
        }

        @include small-size-max {
            justify-content: center;
        }

        .sv-progress-bar {
            flex-basis: 255px;

            @include small-size-max {
                flex-basis: 100%;
            }

            &:not(:last-child) {
                margin-right: 20px;

                @include medium-size-max {
                    margin-right: 0;
                    margin-bottom: 10px;
                }
            }

            &:nth-child(2n+1) {

                @include medium-size-max {
                    margin-right: 10px;
                }

                @include small-size-max {
                    margin-right: 0;
                }
            }
        }
    }

    .sv-table {

        td, th {

            &:nth-child(1) {
                width: 148px;
                padding-right: 25px;

                @include large-size-max {
                    width: 120px;
                }

                @include medium-size-max {

                    &:before {
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }
            }

            &:nth-child(2) {
                width: 275px;
                padding-right: 25px;
            }

            &:nth-child(3) {
                width: 250px;
                padding-right: 30px;
            }

            &:nth-child(4), &:nth-child(5), &:nth-child(6) {
                padding-left: 15px;
                padding-right: 15px;
            }

            &:nth-child(7) {
                width: 55px;
                padding-right: 15px;
                text-align: right;
            }

            &:nth-child(n) {

                @include medium-size-max {
                    width: 100%;
                    padding-left: 50%;
                    padding-right: 15px;
                    text-align: left;
                }
            }
        }
    }

    &__link {
        padding: 0 30px 25px;
        background: white;
        max-width: 60%;
        margin-left: auto;
        display: flex;
        justify-content: flex-end;
        position: relative;
        box-shadow: 0 12px 36px rgba(0, 0, 0, 0.06);
        border-radius: 0 0 12px 0;
        margin-bottom: 10px;

        @include small-size-max {
            padding-bottom: 15px;
            max-width: 65%;
        }

        &:before {
            content: '';
            position: absolute;
            border-right: 50px solid $c-white;
            border-bottom: 45px solid transparent;
            z-index: 2;
            left: -50px;
            top: 0;

            @include small-size-max {
                border-bottom: 36px solid transparent;
            }
        }

        &:after {
            content: '';
            display: block;
            position: absolute;
            width: calc(100% + 50px);
            height: 15px;
            background-color: $c-white;
            top: 0;
            right: 0;
            transform: translateY(-100%);
        }

        a {
            color: $c-black!important;
            font-family: "Work Sans", sans-serif;
            font-size: 14px;
            font-weight: 500;
            display: flex;
            align-items: center;
            justify-content: space-between;

            &:hover {

                img {
                    left: -10px;
                }
            }

            img {
                margin-left: 20px;
                position: relative;
                transition: all .3s ease;
                left: 0;
            }
        }
    }

    &--widget {

        .sv-table tbody td {
            color: $c-black;
        }
    }
}

.sv-title {
    color:$c-black;
    font-family: "Work Sans", sans-serif;
    font-size: 22px;
    font-weight: 300;
    line-height: 1.36;
    margin-bottom: 20px;
    padding: 0;

    &--small-margin {
        margin-bottom: 10px;
    }

    &--big-margin {
        margin-bottom: 30px;

        @include medium-size-max {
            margin-bottom: 20px;
        }
    }
}

.home-container {

    .campaigns-report {
        margin-top: 30px;
    }
}

.sv-section {
    box-shadow: 0 12px 36px rgba(0, 0, 0, 0.06);
    border-radius: 12px;
    background-color: $c-white;
    padding: 30px;

    &--radius-top {
        border-radius: 12px 12px 0 0;
    }

    &--radius-bottom {
        border-radius: 0 0 12px 12px;
    }

    @include small-size-max {
        padding: 15px;
    }
}

.sv-hr {
    display: block;
    height: 1px;
    background-color: #f9fafb;
}

.columns-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;

    @include medium-size-max {
        grid-template-columns: 1fr 1fr;
    }

    @include small-size-max {
        grid-template-columns: 1fr;
    }
}

.campaign {

    &__image {
        height: 200px;
        overflow: hidden;
        border-radius: 8px 8px 0 0;
        background-size: cover;
        background-position: center;
    }

    &__info {
        padding: 15px;
        border-radius: 0 0 8px 8px;
        background-color: #f9fafb;
    }

    &__number {
        color: $c-black;
        font-family: "Roboto", sans-serif;
        font-size: 10px;
        font-weight: 500;
        letter-spacing: 1px;
        line-height: 12px;
        text-transform: uppercase;
        display: inline-block;
        margin-bottom: 8px;
        opacity: .5;
    }

    &__title {
        color: $c-blue;
        font-family: "Work Sans", sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        padding: 0;
        margin-bottom: 20px;
    }

    &__button {
        text-align: right;

        a {
            margin-bottom: 5px;
        }
    }
}

.buttons-line {
    padding: 20px 0;

    .sv-button {

        &:not(:last-of-type) {
            margin-right: 20px;

            @include small-size-max {
                margin-right: 0;
                margin-bottom: 15px;
            }
        }
    }

    &--wide-buttons {

        .sv-button--grey-text {
            min-width: 200px;

            @include small-size-max {
                min-width: auto;
            }
        }

        .sv-button--green {
            min-width: 160px;

            @include small-size-max {
                min-width: auto;
            }
        }
    }

    &--larger {

        .sv-button--grey-text {
            min-width: 155px;
            padding-left: 30px;
            padding-right: 30px;
        }
    }
}

.sv-button {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    border: 1px solid $c-white;
    background-color: $c-white;
    color: $c-green!important;
    font-family: "Work Sans", sans-serif;
    font-size: 14px;
    font-weight: 500;
    display: inline-block;
    padding: 10px 20px;
    min-width: 130px;
    text-align: center;
    transition: all .3s ease;
    cursor: pointer;

    &:hover {
        border-color: $c-green;
        box-shadow: none;
    }

    &:focus, &:active {
        outline: none;
    }

    &--green {
        background-color: $c-green;
        color: $c-white!important;
        box-shadow: none;
        border-color: $c-green;

        &:hover {
            background-color: transparent;
            color: $c-green!important;
        }
    }

    &--red {
        background-color: #af4c4c;
        color: $c-white!important;
        box-shadow: none;
        border-color: #af4c4c;

        &:hover {
            background-color: transparent;
            color: #af4c4c!important;
            border-color: #af4c4c;
        }
    }

    &--blue {
        background-color: #0645c7;
        color: $c-white!important;
        box-shadow: none;
        border-color: #0645c7;

        &:hover {
            background-color: transparent;
            color: #0645c7!important;
            border-color: #0645c7;
        }
    }

    &--inactive {
        background-color: #c3cedd;
        color: $c-white!important;
        box-shadow: none;
        border-color: #c3cedd;

        &:hover {
            background-color: transparent;
            color: #c3cedd!important;
            border-color: #c3cedd;
        }
    }

    &--border {
        background-color: transparent;
        border: 1px solid $c-green;
        padding: 5px 20px;

        &:hover {
            background-color: $c-green;
            color: $c-white!important;
        }
    }

    &--grey-text {
        color: #7c7c7d!important;

        &:hover {
            border-color: #7c7c7d;
            box-shadow: none;
        }
    }

    &--blue-text {
        color: #0645c7!important;

        &:hover, &.active {
            border-color: #0645c7;
            box-shadow: none;
            outline: none;
        }

        &.selected {
            color: $c-white!important;
            background-color: #0645c7;
            cursor: default;

            &:hover {
                border-color: transparent;
            }
        }
    }

    &--small-padding {
        padding: 5px 20px;
    }

    &--nav {
        font-size: 13px;
    }

    &:disabled, &.disabled {
        background-color: #c3cedd;
        border-color: #c3cedd;
        color: #fff!important;
        cursor: default;

        &:hover {
            background-color: #c3cedd;
            border-color: #c3cedd;
            color: #fff;
        }
    }
}

.sv-edit-field {
    display: block;
    width: 15px;
    height: 23px;
    position: absolute;
    right: 5px;
    top: 8px;
    cursor: pointer;
    margin-bottom: 0!important;
    border: none;
    background: transparent;

    &:hover:before {
        color: $c-green;
    }

    &:focus {
        outline: none;
    }

    &:before {
        content: '\f044';
        display: block;
        font-family: 'FontAwesome';
        font-size: 15px;
        transition: all .3s ease;
    }
}

.sv-close-button {
    width: 40px;
    height: 40px;
    border-radius: 6px;
    border: 1px solid #f1f1f1;
    background-color: #f9fafb;
    position: relative;
    cursor: pointer;

    &:focus {
        outline: none;
    }

    &:hover:before {
        color: $c-green;
    }

    &:before {
        content: '\f00d';
        font-family: 'FontAwesome';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 13px;
        color: #7c7c7d;
        transition: all .3s ease;
    }

    &:disabled {
        cursor: default;

        &:before {
            color: #c3cedd;
        }

        &:hover {
            color: #c3cedd;
        }
    }
}

.sv-load-more-space {
    margin: 40px auto 0;
    text-align: center;

    @include small-size-max {
        margin-top: 30px;
    }
}

.sv-contact-list {
    margin-top: 40px;

    .sv-table {

        td, th {

            &:nth-of-type(1) {
                width: 12%;

                @include medium-size-max {
                    width: 100%;
                }
            }

            &:nth-of-type(2) {
                width: 12%;

                @include medium-size-max {
                    width: 100%;
                }
            }

            &:nth-of-type(3) {
                width: 22%;
                @include medium-size-max {
                    width: 100%;
                }
            }
            &:nth-of-type(3), &:nth-of-type(4) {
                width: 55%;

                @include medium-size-max {
                    width: 100%;
                }
            }
        }

        td {

            @include medium-size-max {
                width: 100%;
                padding-left: 30%;

                &:before {
                    width: 25%;
                }
            }
        }
    }

    &__button {
        text-align: right;
    }
}

.sv-row {
    margin-left: -30px;
    margin-right: -30px;
}

.sv-campaigns-select {
    max-width: 255px;
    margin-bottom: 20px;
}

.sv-campaign-navigation {
    margin-bottom: 45px;

    @include medium-size-max {
        margin-bottom: 25px;
    }

    @include extra-small-size-max {
        margin-bottom: 15px;
    }

    &--small-m {
        margin-bottom: 30px;
    }
}

.sv-new-list-name {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    @include extra-small-size-max {
        flex-direction: column;
        align-items: flex-start;
    }

    &__label {
        color: #000000;
        font-family: "Work Sans", sans-serif;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.5;
        display: inline-block;
        margin-right: 20px;

        @include extra-small-size-max {
            margin-right: 0;
        }
    }

    &__title {
        min-width: 320px;
        color: #000000;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.5;
        padding: 9px 60px 9px 14px;
        border-radius: 4px;
        border: 1px solid #c3cedd;
        background-color: #f9fafb;
        position: relative;

        @include medium-size-max {
            min-width: 290px;
        }

        @include extra-small-size-max {
            margin-top: 10px;
            min-width: auto;
            width: 100%;
        }

        &:focus {
            outline: none;
        }
    }

    input[type="text"] {
        border-color: $c-green;
    }

    &__edit {
        position: absolute;
        right: 34px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
    }
}

.sv-lead-list, .sv-new-lead {

    &__col {

        &-1 {
            width: 35%;
        }

        &-2 {
            width: 14%;
        }

        &-3 {
            width: 16%;
        }

        &-4 {
            width: 16%;
        }

        &-5 {
            width: 10%;
        }

        &-6 {
            width: 15%;
            text-align: center;

            i {
                cursor: pointer;
                transition: color .3s;

                &:hover {
                    color: $c-pink;
                }
            }
        }
    }
}

.sv-new-lead {

    &__col {

        &-1 {
            width: 18%;
        }

        &-2 {
            width: 25%;
        }

        &-3 {
            width: 15%;
        }

        &-4 {
            width: 25%;
        }

        &-5 {
            width: 17%;
        }
    }
}

.sv-uploaded-table {
    margin-bottom: 10px;

    @include small-size-max {
        margin-bottom: 5px;
    }

    &__col {

        &-1 {
            width: 16%;

            @include large-size-max {
                width: 20%;
            }
        }

        &-2 {
            width: 25%;

            @include large-size-max {
                width: 27%;
            }
        }

        &-3 {
            width: 15%;
        }

        &-4 {
            width: 41%;

            @include large-size-max {
                width: 35%;
            }
        }
    }
}

.sv-uploaded-nav {
    margin-top: 10px;

    @include small-size-max {
        margin-top: 5px;
    }
}

.sv-lead-name {

    @include medium-size-max {
        margin-bottom: 15px;
    }

    @include extra-small-size-max {
        width: 100%;
    }

    label {
        color: $c-black;
        font-family: 'Work Sans', sans-serif;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.5;
        margin-bottom: 0;
        margin-right: 20px;
        white-space: nowrap;

        @include medium-size-max {
            margin-bottom: 5px;
            white-space: normal;
        }
    }

    input[type="text"] {
        color: rgba($c-black, .8);
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.57;
        padding: 9px 15px;
        border-radius: 4px;
        border: 1px solid #c3cedd;
        background-color: #f9fafb;
        min-width: 220px;
        flex: 1 0 320px;

        @include large-size-max {
            flex-shrink: 1;
        }

        @include medium-size-max {
            flex-grow: 0;
            flex-basis: 40px;
            margin-right: 0;
        }

        @include extra-small-size-max {
            width: 100%;
        }

        &:focus {
            outline: none;
        }
    }
}

.sv-campaign-description {

    p {
        color: $c-blue;
        font-family: "Work Sans",sans-serif;
        font-size: 16px;
        line-height: 1.5;
        font-weight: 300;
    }

    p span, span {
        font-weight: inherit!important;
        font-size: inherit!important;
        color: inherit;
        font-family: inherit;
        line-height: inherit;
    }
}