.sv-date-picker {
    width: 300px;
    z-index: 1000;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.11);
    border: 1px solid #e8e8e8;
    background-color: #ffffff;
    padding: 15px 5px;
    position: absolute;
    display: none;

    &:before {
        content: '';
        width: 10px;
        height: 8px;
        background-position: center bottom;
        background-size: contain;
        background-image: url("./img/triangle.png");
        position: absolute;
        right: 25px;
        top: 0;
        transform: translateY(-100%);

        @include small-size-max {
            right: 60px;
        }
    }

    &__header {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 10px 10px;

        .current-month {
            color: #0645c7;
            font-family: "San Francisco Text", sans-serif;
            font-size: 13px;
            font-weight: 600;
            line-height: 1.54;
        }

        i {
            font-size: 10px;
            color: #c9c9c9;
            cursor: pointer;
            transition: all .3s ease;

            &:hover {
                color: #0645c7;
            }

            &.fa-chevron-right {
                margin-left: auto;
            }

            &.fa-chevron-left {
                margin-right: auto;
            }
        }
    }

    table {
        width: 100%;
        text-align: center;

        thead {

            th {
                padding: 10px 0;
                border-top: 1px solid #f3f3f3;
                border-bottom: 1px solid #f3f3f3;
                color: #999999;
                font-family: "San Francisco Text", sans-serif;
                font-size: 11px;
                font-weight: 400;
                line-height: 1.45;
                text-transform: uppercase;
            }
        }

        tbody {

            td {
                padding-top: 14px;

                &.disabled {

                    span {
                        color: #999999;
                        cursor: default;

                        &:hover {
                            background-color: transparent;
                        }
                    }
                }

                span {
                    width: 24px;
                    height: 24px;
                    align-items: center;
                    justify-content: center;
                    display: inline-flex;
                    color: #000000;
                    font-family: "San Francisco Text", sans-serif;
                    font-size: 11px;
                    font-weight: 400;
                    line-height: 1.45px;
                    text-transform: uppercase;
                    border-radius: 2px;
                    cursor: pointer;
                    transition: all .3s ease;

                    &:hover, &.selected {
                        background-color: rgba(6, 69, 199, 0.2);
                        color: #0645c7;
                    }
                }
            }
        }
    }

    &__time {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        .hours, .minutes {
            text-align: center;

            i {
                display: inline-block;
                cursor: pointer;
                font-size: 12px;
                color: #c9c9c9;
                transition: all .3s ease;

                &:hover {
                    color: #0645c7;
                }

                &.fa-chevron-up {
                    margin-bottom: 7px;
                }

                &.fa-chevron-down {
                    margin-top: 7px;
                }
            }
        }

        .hours {
            margin-right: 10px;
        }

        .minutes {
            margin-left: 10px;
        }

        .hours-time, .minutes-time, .hm-input {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 30px;
            height: 30px;
            font-size: 18px;
            color: #0645c7;
            background-color: rgba(6, 69, 199, 0.2);
            border-radius: 2px;
            border: none;
            text-align: center;

            &:focus, &:active {
                outline: none;
            }
        }

        .time-switcher {
            margin-left: 15px;
            display: flex;
            align-items: center;
            justify-content: center;

            input[type="checkbox"] {
                display: none;
            }

            label {
                width: 50px;
                height: 21px;
                display: inline-block;
                border-radius: 50px;
                position: relative;
                transition: all .3s ease;
                transform-origin: 20% center;
                cursor: pointer;
                background: #4caf50;
                border: .5px solid rgba(117, 117, 117, 0.31);
                box-shadow: inset 0px 0px 4px 0px rgba(0,0,0,0.2), 0 -3px 4px rgba(0,0,0,0.15);
                margin: 0 10px 0;

                &:before {
                    content: '';
                    display: block;
                    position: absolute;
                    top: 2px;
                    left: 2px;
                    border-radius: 50%;
                    transition: .3s ease;
                    border: none;
                    width: 15px;
                    height: 15px;
                    box-shadow: inset 0.5px -1px 1px rgba(0, 0, 0, 0.35);
                    background: #fff;
                    transform: rotate(-25deg);
                }
            }

            input[type="checkbox"]:checked + label {
                background: #4caf50;
                &:before {
                    left: 31px;
                }
            }
        }
    }

    &__navigation {
        width: 100%;
        margin-top: 10px;
        display: flex;
        justify-content: flex-end;
        padding: 0 20px;

        button {
            background-color: rgba(6, 69, 199, 0.2);
            outline: none;
            border: 1px solid rgba(6, 69, 199, 0.6);
            padding: 5px 10px;
            font-size: 14px;
            color: #0645c7;
            cursor: pointer;
            transition: all .3s ease;

            &:focus {
                outline: none;
            }

            &:hover {
                background-color: rgba(6, 69, 199, 0.3);
            }
        }
    }
}