.sv-checkbox {

    input[type="checkbox"] {
        display: none;

        + label {
            padding-right: 25px;
            position: relative;
            display: inline-block;
            margin: 0;

            &:before {
                content: '';
                display: block;
                width: 14px;
                height: 14px;
                border-radius: 2px;
                border: 1px solid #c3cedd;
                background-color: #ffffff;
                cursor: pointer;
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
            }

            &:after {
                content: none;
                display: block;
                width: 6px;
                height: 5px;
                background-image: url("./img/checkbox-checked.svg");
                background-position: center;
                background-size: contain;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 4px;
                cursor: pointer;
            }
        }

        &:checked {

            + label {

                &:after {
                    content: '';
                }
            }
        }
    }

    &--empty {

        input[type="checkbox"] {

            + label {
                width: 14px;
                height: 14px;
                padding: 0;

                &:before {
                    top: 0;
                    left: 0;
                    transform: none;
                }

                &:after {
                    top: 5px;
                    left: 4px;
                    transform: none;
                }
            }
        }
    }
}