.sv-notifications {
    $p: &;

    position: relative;
    margin-right: 30px;

    @include extra-small-size-max {
        margin-right: 25px;
    }

    &__alert {
        position: relative;
        width: 29px;
        height: 29px;
        background-image: url("./img/icons/notif-icon.png");
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }

    &__counter {
        color: $c-green;
        font-size: 16px;
        font-weight: 700;
        line-height: 1;
        text-align: center;
        display: block;
        border: 1px solid $c-green;
        position: absolute;
        right: -5px;
        top: 2px;
        background: $c-white;
        border-radius: 50%;
    }

    &__wrapper {
        position: absolute;
        right: -32px;
        top: 55px;
        width: 340px;
        box-shadow: 0 2px 4px rgba(161, 161, 161, 0.5);
        background-color: $c-white;
        opacity: 0;
        visibility: hidden;
        transition: all .3s;

        @include extra-small-size-max {
            width: 310px;
            right: -151px;
        }

        &:before {
            content: '';
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 16px 18px 16px;
            border-color: transparent transparent $c-green transparent;
            position: absolute;
            top: 0;
            right: 30px;
            transform: translateY(-100%);

            @include extra-small-size-max {
                right: 149px;
            }
        }

        &.active {
            visibility: visible;
            opacity: 1;
        }
    }

    &__head {
        background-color: $c-green;
        color: $c-white;
        font-size: 16px;
        font-weight: 400;
        padding: 8px 6px;
        margin: 0;
    }

    &__item {

        &:last-of-type {

            #{$p}__link {
                border-bottom: none;
            }
        }
    }

    &__link {
        padding: 12px 6px;
        border-bottom: 1px solid $c-grey-light;
        display: grid;
        grid-template-columns: auto 80px;
        align-items: center;
        transition: all .3s;

        &:hover {
            background-color: $c-grey-hover;
        }
    }

    &__event {
        color: $c-black;
        line-height: normal;
        font-size: 12px;
        font-weight: 400;
    }

    &__time {
        color: $c-grey;
        font-size: 10px;
        font-weight: 400;
        line-height: normal;
        text-align: right;
    }
}