.login-action-lostpassword.login, .login-action-login.login, .login.login-action-rp, .login.login-action-resetpass {
    background-color: rgba($c-black, 0.62);

    #login {
        max-width: 700px;
        width: 100%;
        background-color: $c-white;
        box-shadow: 10px 12px 36px rgba(0, 0, 0, 0.2);
        border-radius: 12px;
        padding: 60px 80px;
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        box-sizing: border-box;
        max-height: 95%;
        overflow-y: auto;

        @include small-size-max {
            padding: 40px;
            max-width: 545px;
        }

        @include extra-small-size-max {
            max-width: 95%;
            padding: 30px;
        }
    }


    .message {
        padding: 0;
        border: none;
        box-shadow: none;
        color: $c-black;
        font-family: 'Work Sans', sans-serif;
        font-size: 22px;
        font-weight: 600;
        letter-spacing: normal;
        line-height: normal;
        text-align: center;
        margin-bottom: 40px;

        a {
            color: $c-green;

            &:hover {
                color: rgb(0, 230, 230);
            }
        }

        @include medium-size-max {
            font-size: 18px;
        }

        @include extra-small-size-max {
            margin-bottom: 30px;
        }
    }

    #lostpasswordform, #loginform, #resetpassform {
        padding: 0 0 0 175px;
        border: none;
        box-shadow: none;
        position: relative!important;

        @include small-size-max {
            padding: 0 0 0 135px;
        }

        @include extra-small-size-max {
            padding: 110px 0 0;
            text-align: center;
        }

        &:before, &:after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
        }

        &:before {
            width: 105px;
            height: 125px;
            left: 0;
            background-image: url("./img/lock-icon.svg");
            background-repeat: no-repeat;
            background-size: contain;

            @include small-size-max {
                width: 77px;
                height: 90px;
            }

            @include extra-small-size-max {
                left: 50%;
                transform: translateX(-50%);
            }
        }

        &:after {
            width: 2px;
            height: 100%;
            background: #979797;
            left: 140px;

            @include small-size-max {
                left: 104px;
            }

            @include extra-small-size-max {
                content: none;
            }
        }

        label {
            font-family: 'Work Sans', sans-serif;
            font-size: 22px;
            font-weight: 400;
            color: $c-black;
            display: block;
            text-align: center;
            margin-bottom: 10px;

            @include medium-size-max {
                font-size: 16px;
            }
        }

        #user_login, #user_pass, #pass1, #pass1-text  {
            color: rgba($c-black, .3);
            font-family: 'Work Sans', sans-serif;
            font-size: 16px;
            font-weight: 400;
            line-height: 2.82;
            border-radius: 12px;
            border: 2px solid rgba(151, 151, 151, .5);
            margin-bottom: 30px;
            padding: 9px 30px;
            margin-top: 10px;

            @include large-size-max {
                margin-bottom: 20px;
            }

            @include small-size-max {
                margin-bottom: 15px;
                line-height: 2;
                padding: 5px 15px;
            }

            &:active, &:focus {
                outline: none;
                box-shadow: none;
            }
        }

        .indicator-hint {
            text-align: center;
        }

        #pass1-text, #pass1 {
            margin-bottom: 10px;
            min-height: 67px;

            @include small-size-max {
                min-height: auto;
            }
        }

        .wp-hide-pw {
            margin-top: 23px;

            @include small-size-max {
                margin-top: 12px;
            }

            .dashicons {

                &:before {
                    color: $c-green;
                }
            }
        }

        .submit {
            text-align: center;

            input[type="submit"] {
                float: none;
                border-radius: 5px;
                background-color: $c-green;
                color: $c-white;
                font-family: 'Work Sans', sans-serif;
                font-size: 22px;
                font-weight: 400;
                line-height: normal;
                letter-spacing: normal;
                text-transform: uppercase;
                padding: 25px;
                border: none;
                box-sizing: border-box;
                margin-bottom: 0;
                height: auto;
                text-shadow: none;
                transition: all .3s ease;
                box-shadow: none;

                @include medium-size-max {
                    font-size: 18px;
                }

                @include small-size-max {
                    line-height: normal;
                    padding: 15px;
                }

                &:hover {
                    background-color: rgb(0, 230, 230);
                }

                &:active, &:focus {
                    outline: none;
                    box-shadow: none;
                }
            }
        }

        #pass-strength-result.empty {
            display: none;
        }

        .pw-weak {

            label {
                display: inline-block;
                margin-bottom: 0;
            }
        }
    }

    h1 {
        display: none;
    }

    .login-links {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 40px;

        @include extra-small-size-max {
            margin-top: 30px;
        }
    }

    #backtoblog, .privacy-policy-page-link {
        padding: 0;
        margin: 0;

        a {
            font-size: 13px;
            color: $c-black;
            transition: all .3s ease;
            text-decoration: none;

            &:hover {
                color: $c-green;
            }
        }
    }

    .privacy-policy-page-link {
        width: auto;
    }
}

.login-action-login.login {

    #loginform {

        #user_login {
            margin-bottom: 15px;
        }

        #user_pass {
            margin-bottom: 20px;
        }

        .forgetmenot {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 10px;

            input[type="checkbox"] {

                @include small-size-max {
                    width: 14px;
                    height: 14px;
                }
            }

            label {
                font-size: 15px;
            }
        }
    }
}