.sv-tale {
    padding: 20px;
    border-radius: 8px;
    background-color: #f9fafb;
    min-width: 255px;

    &:not(:last-child) {
        margin-right: 20px;
    }

    &__title {
        color: $c-black;
        font-family: "Work Sans", sans-serif;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.5;
        margin-bottom: 10px;
    }

    &__copy {
        color: $c-blue;
        font-family: "Work Sans", sans-serif;
        font-size: 18px;
        font-weight: 300;
        line-height: 1.33;
        margin-top: 18px;
        margin-bottom: 0;
    }

    &__select {
        position: relative;

        &:before {
            content: '\f078';
            font-family: FontAwesome;
            font-size: 12px;
            display: block;
            position: absolute;
            right: 12px;
            top: 50%;
            transform: translateY(-50%);
            pointer-events: none;
            color: $c-green;
        }

        select {
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            border-radius: 4px;
            border: 1px solid #f1f1f1;
            background-color: $c-white;
            padding: 6px 30px 6px 8px;
            width: 100%;
            color: $c-blue;
            font-family: "Work Sans", sans-serif;
            font-size: 14px;
            font-weight: 400;
            line-height: 24px;
            -webkit-appearance: none;
            appearance: none;
            cursor: pointer;

            &:active, &:focus {
                outline: none;
            }
        }

        select::-ms-expand {
            display: none!important;
        }
    }
}

.sv-tales {
    display: flex;
    margin-bottom: 20px;

    @include medium-size-max {
        flex-wrap: wrap;
        justify-content: flex-start;

        .sv-tale {

            &:not(:last-child) {
                margin-bottom: 10px;
            }
        }
    }

    @include small-size-max {

        .sv-tale {
            width: 100%;
            margin-right: 0;
        }
    }
}