.sv-tasklist {
    padding: 15px 10px;
    background-color: $c-white;
    max-width: 680px;
    margin: 0 auto;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;

        @include extra-small-size-max {
            display: block;
        }
    }

    &__title {
        font-size: 26px;
        font-weight: 300;
        letter-spacing: normal;

        @include extra-small-size-max {
            font-size: 24px;
        }
    }

    &__period {
        font-family: $f-work-sans;
        line-height: normal;
        font-size: 12px;
        color: $c-grey-text;

        @include extra-small-size-max {
            margin-bottom: 20px!important;
        }
    }

    .tabs {
        margin: 0;
        padding: 0;
        list-style: none;
        border-bottom: solid 2px $c-grey-border;

        li {
            background: none;
            color: $c-grey-text;
            display: inline-block;
            padding: 10px 15px;
            cursor: pointer;
            font-size: 16px;
            line-height: normal;
            border-bottom: solid 2px $c-grey-border;
            margin-bottom: -2px;
            transition: all .3s;
            font-weight: 500;

            &:first-of-type {
                padding-left: 0;
            }

            &.active {
                color: $c-green;
                border-color: $c-green;
            }
        }
    }

    .tab-content{
        display: none;

        &.active {
            display: block;
        }

        &__head {
            display: grid;
            grid-template-columns: 1fr 1fr;
            padding: 20px 16px 10px;

            @include extra-small-size-max {
                grid-template-columns: 1fr;
            }
        }

        &__labels {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            justify-items: center;
            align-items: center;

            span {
                font-size: 16px;
                color: $c-grey-text;
                line-height: normal;
                text-align: center;
            }
        }

        .sv-task {
            padding: 16px;
            border-radius: 4px;
            background-color: $c-grey-blue;
            display: grid;
            grid-template-columns: 1fr 1fr;
            margin-bottom: 20px;

            @include extra-small-size-max {
                grid-template-columns: 1fr;
                gap: 20px 0;
            }

            &:last-child {
                margin-bottom: 0;
            }

            &__aim {
                font-size: 15px;
                color: $c-black;
                line-height: normal;

                @include extra-small-size-max {
                    text-align: center;
                }
            }

            &__checkboxes {
                //display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                justify-items: center;
                align-items: center;
            }

            &__checkbox {
                width: 20px;
                height: 20px;
                background-color: $c-grey-border;
                cursor: pointer;
                position: relative;

                &:before {
                    content: '';
                    background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjwhRE9DVFlQRSBzdmcgIFBVQkxJQyAnLS8vVzNDLy9EVEQgU1ZHIDEuMC8vRU4nICAnaHR0cDovL3d3dy53My5vcmcvVFIvMjAwMS9SRUMtU1ZHLTIwMDEwOTA0L0RURC9zdmcxMC5kdGQnPjxzdmcgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMjQgMjQiIGlkPSJMYXllcl8xIiB2ZXJzaW9uPSIxLjAiIHZpZXdCb3g9IjAgMCAyNCAyNCIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+PHBvbHlsaW5lIGNsaXAtcnVsZT0iZXZlbm9kZCIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIiBpZD0iRG9uZV9feDIwMTRfX0Rpc3BsYXllZF9vbl90aGVfbGVmdF9zaWRlX29mX2FfY29udGV4dHVhbF9hY3Rpb25fYmFyX194MjhfQ0FCX3gyOV9fdG9fYWxsb3dfdGhlX3VzZXJfdG9fZGlzbWlzc19pdC5fMV8iIHBvaW50cz0iICAyMCw2IDksMTcgNCwxMiAiIHN0cm9rZT0iIzAwMDAwMCIgc3Ryb2tlLW1pdGVybGltaXQ9IjEwIiBzdHJva2Utd2lkdGg9IjIiLz48L3N2Zz4=");
                    width: 20px;
                    height: 20px;
                    position: absolute;
                    left: 0;
                    top: 0;
                    z-index: 5;
                    opacity: 0;
                    visibility: hidden;
                }

                &.clicked {

                    &:before {
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
        }
    }
}