.ribbon {
    position: relative;
}

.ribbon-target {
    display: block;
    position: absolute;
    top: 0;
    right: 20px;
    padding: 5px 10px;
    min-width: 36px;
    background-color: $c-green;
    color: $c-white;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, .2);
}
