h1,h2,h3,h4,h5,h6{
    line-height: normal;
}

.home{
    height:748px;
}
.home_container{
    margin-top:176px;
}
.inner_container{
    margin-top:100px;
}
.inner-page{
    height:381px;
}
.inner_container.profile{
    padding-top:80px;
}
h2{
    font-family: 'Work Sans';
    font-size: 36px;
    font-weight: 300;
    line-height: 46px;
    color: rgb(0, 0, 0);
}
h3{
    font-family: 'Work Sans';
    font-size: 22px;
    color: rgb(0, 0, 0);
}
h3{
    font-family: 'Work Sans';
    font-size: 22px;
    color: rgb(0, 0, 0);
}
h4{
    font-family: 'Work Sans';
    font-size: 16px;
    font-weight: bold;
    color:#000;
    margin-bottom: 10px;
}
h5{
    font-family: 'Work Sans';
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1.71px;
    color: rgb(0, 0, 0);
}
iframe {
    border-radius: 20px !important;
    max-width: 100%;
}

#video_module_block {
    width:640px;
    height:390px;
}

.right-holder-video #video_module_block {
    max-width: 100%;
}

@media (max-width: 767px) {

    #video_module_block {
        margin-top: 0;
        max-width: 100%;
        height: auto;
    }
}

#video_module_block iframe {
    border-radius: 8px !important;
    /* transform: scale(1.06); */
}

.smaller-padding{
    padding:50px 0;
}

.smaller-padding--bottom-0 {
    padding-bottom: 0;
}

.default-padding{
    padding:80px 0;
}

@media (max-width: 1199px) {
    .default-padding{
        padding: 60px 0;
    }
}

@media (max-width: 575px) {
    .default-padding{
        padding: 50px 0;
    }
}

.default-padding p,.smaller-padding p{
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    color: #000;
}
.default-padding p.bigger,.smaller-padding p.bigger{
    font-size: 20px;
}
.default-padding p.smaller,.smaller-padding p.smaller{
    font-size: 14px;
}



.btn, a {
    transition: all .3s ease-in-out;
}

.btn.btn-primary {
    font-family: 'Work Sans', sans-serif;
    box-sizing: border-box;
    font-size: 14px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    letter-spacing: 0.2px;
    color: rgb(255, 255, 255);
    min-width: 150px;
    height: 42px;
    line-height:42px;
    padding:0;
    border-radius: 21px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.11);
    background-color: rgb(0, 199, 199);
    border: none;
}

.btn.btn-primary:hover {
    background-color: rgb(0, 230, 230);
}

/* Our Philosophy */
.our-philosophy{
    background: url('../dist/img/our-phylosophy-bg.webp');
    background-size: cover;
    background-position: top center;
}

.no-webP-supported .our-philosophy {
    background: url('../dist/img/our-phylosophy-bg.png');
}

.our-philosophy img{margin-bottom: 30px; max-height: 54px;}
.our-philosophy h3{margin-bottom: 20px;}
.our-philosophy p {
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    color: #000;
    margin-bottom: 70px;
}

@media (max-width: 1199px) {
    .our-philosophy p {
        margin-bottom: 50px;
    }
}

.our-philosophy a{
    font-family: 'Work Sans';
    font-size: 14px;
    font-weight: 500;
    color: rgb(0, 0, 0);
}

.our-philosophy a img{
    position: relative;
    top:14px;
    margin-left: 15px;
    transition: all .3s ease-out;
}

.our-philosophy a:hover img {
    margin-left: 8px;
}

.our-story h2 {
    margin-top: 10px;
}

.header .btn.btn-primary{
    height: 34px;
    border-radius: 17px;
    background-color: rgba(255, 255, 255, 0.1);
    font-family: 'Work Sans';
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.2px;
    color: #ffffff;
    border:none;
    display:inline-block;
    box-shadow:none;
}
.header .btn.login{
    width: 120px;
    margin-left:128px;
    padding: 0;
    line-height: 34px;
}
.profile-page .header .btn.login{
    background-color: rgba(33, 60, 125, 0.1);
}

.inner-page .header .header_top_nav ul li a {
    color:#fff;
}

.inner-page .header .header_top_nav ul li a:hover {
    color: #707b93;
}

.inner-page .header.scrolled .header_top_nav ul li a {
    color: #707b93;
}

.inner-page .header.scrolled .header_top_nav ul li a:hover {
    color: rgb(0, 199, 199);
}

.inner-page .header .btn.btn-primary{
    box-shadow:none;
}
body.page-podcast .inner-page .header .header_top_nav ul li  a,
.inner-page.profile .header .header_top_nav ul li  a{
    color:#000;
}
body.page-podcast .inner-page .header .header_top_nav ul li.current_page_item  a::after,
.inner-page.profile  li.current_page_item  a:after {
    width: 100%;
    height: 2px;
    background-color: #000000;
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 15px;
}
.inner-page.profile .header .header_top_nav ul li  a:hover {
    color: #4c4c4c;
}

.home .background_image{
    background-position: top center;
    background-size: 100% 100%;
}
.logo{
    padding: 20px 0;
}

.video-holder{
    background: url('../dist/img/video.png');
    background-size: 100%;
    background-repeat: no-repeat;
    height:530px;
    width:662px;
    position:absolute;
    left:50%;
    top:0;
    text-align: center;
    line-height: 500px;
}
.home_content h1{
    font-family: 'Work Sans';
    font-size: 42px;
    font-weight: 300;
    line-height: 60px;
    color: rgb(0, 0, 0);
    margin-bottom: 40px;
    margin-top: 50px;
    float: left;
}

@media (max-width: 767px) {
    .home_content h1 {
        font-size: 28px!important;
        line-height: 1.5;
        margin-bottom: 30px;
        margin-top: 50px;
    }
}

@media (max-width: 575px) {
    .home_content h1 {
        font-size: 23px!important;
    }
}

.home_content p{
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 500;
    color: rgb(160, 167, 183);
    padding:120px 0 30px;
}
.home_content a{
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 500;
    color: rgb(160, 167, 183);
}
/* Case Studies */
.case-studies h3,.blog h3{
    font-family: 'Work Sans';
    font-size: 22px;
    line-height: 30px;
    color: rgb(0, 0, 0);
    font-weight: 400;
}
/* Cards */
.one-card{
    padding: 0;
    border-radius: 12px;
    border: solid 1px rgb(230, 230, 230);
    background-color: rgb(255, 255, 255);
    margin-bottom:40px;
}
.one-card.col-lg-6{
    flex: 0 0 48%;
    max-width: 48%;
}

.img-left-card {
    background-size: cover!important;
    background-repeat: no-repeat;
    background-position: center center!important;
}
.img-left-card img{
    border-radius: 12px 0 0 12px;
    opacity: 0;
}
.img-top-card{
    border-radius: 12px 12px 0 0;
    background-size: cover!important;
    background-repeat: no-repeat;
    background-position: center center!important;
}
.img-top-card img{
    border-radius: 12px 12px 0 0px;
    opacity: 0;
}
.card-content{
    padding:30px;
}
.card-content a{
    font-family: 'Work Sans';
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.2px;
    color: rgb(0, 199, 199);
    margin-top:38px;
    display:inline-block;
}
.case-studies h2{
    margin-bottom:20px;
}
.case-studies a.read-more,a.read-more{
    font-family: 'Work Sans';
    font-size: 14px;
    font-weight: 500;
    color: rgb(0, 0, 0)!important;
    margin-top:9px;
    display:inline-block;
}

.case-studies a.read-more img,a.read-more img{
    position: relative;
    top:0px;
    margin-left: 15px;
    transition: all .3s ease-out;
}

.case-studies a.read-more:hover img, a.read-more:hover img {
    margin-left: 8px;
}

.one-program-card {
    border-radius: 12px;
    box-shadow: 0 12px 36px 0 rgba(0, 0, 0, 0.06);
    padding: 40px 30px;
    flex: 0 0 30%;
    max-width: 30%;
    margin-top: 90px;
    position:relative;
    z-index: 10;

}

@media (max-width: 991px) {
    .one-program-card {
        margin-top: 50px;
    }
}

@media (max-width: 767px) {
    .one-program-card {
        margin-top: 40px;
    }

    .one-program-card:first-child {
        margin-top: 30px;
    }
}

.one-program-card img{
    margin-bottom:30px;
}
.one-program-card h3{
    margin-bottom: 30px;
}
.one-program-card h4{
    font-size: 16px;
    font-weight: bold;
    color:#000;
    margin-bottom: 10px;
}
.dark-background .one-program-card{
    background-color: rgb(16, 16, 16);
}
.dark-background .one-program-card h4{
    color: rgb(0, 199, 199)!important;
}

.one-program-card:nth-of-type(1):after,.one-program-card:nth-of-type(2):after{
    content:"";
    display:block;
    background: url('../dist/img/line.png');
    height:1px;
    width:150px;
    position:absolute;
    z-index: 5;
    right:-154px;
    top:34%;
}

/* Backgrounds and Overrides */
.black-background{
    background-color: rgb(0, 0, 0);
    padding:80px 0 100px!important;
}
.black-background *{
    color:#fff!important;
}

.platform{
    background: url('../dist/img/bg-2.webp');
    background-size: cover;
    background-position: top center;
    padding-bottom: 0;
}

.no-webP-supported .platform {
    background: url('../dist/img/bg-2.png');
}

@media (max-width: 767px) {
    .platform .row > img {
        width: 100%;
        padding: 0 15px;
    }
}

.platform h3{
    font-family: 'Work Sans';
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    color: rgb(0, 0, 0);
    margin-bottom:15px;
}
.platform p{
    margin-bottom:40px;
}
.platform p.bigger{
    margin-bottom:80px;
}
.platform .position-absolute{
    left:50%;
    width: 72%;
    position: absolute;
}
.blog h2{
    margin-bottom:40px;
}
.blog h3{
    margin-bottom:14px;
}
.blog .one-card a{
    margin-top:0;
}
.above-footer h2{
    font-family: 'Work Sans';
    font-size: 42px;
    font-weight: 300;
    color: rgb(0, 0, 0);
    margin:40px 0 0 0;
}
.above-footer h2 span{
    font-weight: 500;
    color: rgb(0, 199, 199);
    text-decoration: underline;
}
.footer{
    background: url('../dist/img/footer.webp');
    background-size: cover;
    background-position: top center;
}

.no-webP-supported .footer {
    background: url('../dist/img/footer.png');
}

.footer .default-padding{
    padding-bottom: 0;
}
.footer p{
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    color: rgb(0, 0, 0);
    margin-bottom:30px;
    margin-top:50px;
}
.footer .socials{
    margin-bottom:30px;
}
.footer .socials a{
    margin-right:8px;
}
.footer ul li{
    width: 33.333%!important;
    float: left;
}
.footer ul li ul li{
    width:100%!important;
}
.footer ul li a, .footer ul li span.a {
    font-family: 'Roboto';
    font-size: 14px;
    color: rgb(0, 0, 0);
    font-weight: 400;
}

.footer ul li a:hover {
    color: rgb(0, 199, 199);
}

.footer ul li ul{
    padding-top:18px;
}
.footer ul li ul li{
    margin-bottom:13px;
}

.footer ul li ul li a{
    font-weight:300;

}
.separator{
    width:100%;
    height: 1px;
    border: solid 1px rgb(0, 199, 199);
    margin-bottom:19px;
}

.footer .separator:last-child {
    margin-bottom: 0;
}

.footer .copyright{
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    color: rgb(0, 0, 0);
    margin:0 0 19px 0;
    font-style: normal;
}

@media (max-width: 991px) {
    .footer .copyright{
        margin: 0;
    }
}

.inner-page .inner_content h4, .contact-form h4{
    font-family: 'Work Sans';
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1.7px;
    color: rgb(255, 255, 255);
}

.contact-form h4{
    color: #000;
}

.contact-form .contact-form__info {
    padding-left: 30px;
}

@media (max-width: 991px) {
    .contact-form .contact-form__info {
        padding-left: 15px;
    }

    .contact-form__col:last-child {
        margin-left: 30px;
    }
}

.contact-form__col p {
    margin-bottom: 0;
}

.inner-page .inner_content h1{
    margin-top:20px;
    font-family: 'Work Sans';
    font-size: 42px;
    line-height: 60px;
    color: rgb(255, 255, 255);
}
.inner-page .header .header_top_nav ul li.master a{position:relative;}
.inner-page .header .header_top_nav ul li.master a:after{
    width: 26px;
    height: 2px;
    background-color: #000000;
    content:"";
    display:block;
    position:absolute;
    left:calc(50% - 13px);
    bottom:-10px;
    transition: all .3s ease-out;
}

.inner-page .header .header_top_nav ul li.current a{position:relative;}
.inner-page .header .header_top_nav ul li.current a:after{
    width: 100%;
    height: 2px;
    background-color: rgb(255, 255, 255);
    content:"";
    display:block;
    position:absolute;
    left:0;
    bottom:-10px;
    transition: all .3s ease-out;
}
.header_top_nav ul li a
{
    color: #000000;
}
.inner-page .header.scrolled .header_top_nav ul li.current a:after {
    background-color: #707b93;
}

.inner-page .header.scrolled .header_top_nav ul li.current a:hover:after {
    background-color: rgb(0, 199, 199);
}

.inner-page .header .header_top_nav ul li.current a:hover:after {
    background-color: #707b93;
}

.box{
    border-radius: 12px;
    box-shadow: 0 12px 36px 0 rgba(0, 0, 0, 0.08);
    background-color: rgb(255, 255, 255);
    padding:20px;
    margin-bottom:34px;
    min-height: 235px;
}
.box.box-form {
    margin-bottom: 0;
}
.box.full{
    margin-left:-15px;
    margin-right:-15px;
    padding:31px 35px;

}
.box.full .row{
}
.box h4{
    font-family: 'Work Sans';
    font-size: 22px;
    line-height: 30px;
    color: rgb(0, 0, 0);
    margin-bottom: 10px;
    min-height:62px;
}
.box p{
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    color: #000;
}
.left-icon{
    padding-right:30px;
    min-width:95px;
}
.left-icon img{
    margin:0!important;
}
.left-icon + div{
    padding-top:10px;
}
.box.big{
    width:100%;
    min-height:1px;
    text-align: center;
    padding:57px 0;
}

.box h1,
.box .h1 {
    font-family: 'Work Sans';
    font-size: 36px;
    font-weight: 300;
    color: rgb(0, 0, 0);
    margin:0 0 5px!important;
    line-height: 1;
}
.box h1 span,
.box .h1 span {
    font-family: 'Work Sans';
    font-size: 36px;
    font-weight: 500;
    color: rgb(0, 199, 199);
}
.left-border-with-circles:before{
    content:"";
    display:block;
    width:10px;
    height:36px;
    background: #fff;
    position:absolute;
    top:0;
    left:-2px;
}
.left-border-with-circles {
    position: relative;
    background: url('../dist/img/left-line.svg');
    background-position: left top;
    background-repeat: repeat-y;
    padding:0;

}
.left-border-with-circles h3{
    font-size:20px;
    font-weight:400;
}
.left-border-with-circles .left-icon{
    padding-left:80px;
    margin-bottom:100px;
    background: url('../dist/img/oval.svg');
    background-position: left center;
    background-repeat: no-repeat;
    margin-left:-5px;
    position:relative;
    z-index: 2;
}

.left-border-with-circles .d-flex:last-child .left-icon {
    margin-bottom: 0;
}

.left-border-with-circles > div:last-of-type{
    position:relative;
}
.left-border-with-circles > div:last-of-type:after{
    content: none;
}
.mastop {
    margin-top: 180px;
}
.price-details {
    font-size: 12px !important;
    font-weight: bold !important;
    color: #000000 !important;
    margin-bottom: 5px;
}
.box.full h5{
    margin-bottom:30px;
}
.box.full h4{
    min-height: auto;
    font-weight:400;
}
.box.full h2{
    margin-bottom:44px;
}
.box.full p{font-size:16px;}
.box.full p.bigger{
    margin-bottom:30px;
    line-height: 30px;
    font-size:20px;
}
.box.full{
    padding-bottom:45px;
    margin-bottom:0;
}
.dashboard h3{
    font-weight:400;
    margin:20px 0 20px;
}
.up-next{
    width: 126px;
    height: 24px;
    font-family: 'Roboto';
    font-size: 13px;
    font-weight: 300;
    line-height: 30px;
    color: rgb(0, 0, 0);
}
.up-next span{
    color: #000;
}
.slider-menu{
    z-index: 9999;
    position:relative;
}
.slider-menu .col-lg-8{
    display:flex;
    justify-content: space-evenly;
}
.slider-menu .col-lg-8 *{
    align-self: center;
}
.slider-menu .prev,.slider-menu .next{
    cursor: pointer;
}
.slider-menu .col-lg-8 .dot{
    width:10px;
    height:30px;
    text-align: center;
    display:flex;
    justify-content: center;
    cursor: pointer;
}
.slider-menu .col-lg-8 .dot div{
    display:inline-block;
    align-self: center;
    width: 4px;
    height: 4px;
    background-color: rgba(18, 35, 76, 0.3);
    border-radius: 2px;
}
.slider-menu .col-lg-8 .dot.active div{
    width: 6px;
    height: 6px;
    border-radius: 3px;
    background-color: rgb(0, 0, 0);
}
.owl-carousel .owl-stage-outer{overflow: hidden;}
.inner_container.profile h4,.inner_container.profile h1{color:#000;}
.box form label{
    font-family: 'Roboto';
    font-size: 14px;
    color: rgb(18, 35, 76);
}
.inner-page.profile{
    height:428px;
}
.inner-page.profile .box a{
    color:#00c7c7;
}
.box form input{width:100%;
    height: 46px;
    border-radius: 6px;
    border: solid 1px rgb(223, 233, 242);
    background-color: rgb(249, 249, 249);
    margin-bottom:15px;
    padding:0 10px;
}
.box form input[type="submit"]{
    height: 46px;
    border-radius: 6px;
    background-color: rgb(0, 199, 199);
    color:#fff;
    text-align: center;
    font-family: 'Work Sans';
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
}
.watch-video{
    font-family: 'Work Sans';
    font-size: 14px;
    font-weight: 500;
    text-align: right;
    color: rgb(0, 199, 199);
    margin-top:30px;
    display:inline-block;
}
.watch-video img{
    margin-right:10px;
}

.profile-page .absolute-image {
    position:absolute;
    top:50%;
    left:0;
    transform: translateY(-50%);
    max-width: 45%;
}

@media (max-width: 991px) {

    .profile-page .absolute-image {
        position: static;
        transform: none;
        text-align: center;
        margin: 15px auto 0;
        max-width: 720px;
        padding: 0 15px;
    }
}

@media (max-width: 767px) {

    .profile-page .absolute-image {
        max-width: 540px;
    }
}

@media (max-width: 575px) {

    .profile-page .absolute-image {
        max-width: 100%;
    }
}

.profile-page .absolute-image img {
    max-width: 100%;
}

@media (max-width: 991px) {

    .profile-page .absolute-image img {
        border-radius: 13px;
    }
}

.profile-page .absolute-image.right{
    left:auto;
    right:0;
}
.profile-page .have-absolute-image{
    margin:100px 0;
}
.profile-page .have-absolute-image.no-bottom-margin{
    margin-bottom:0;
}
.topstyle {
    top: 50px;
}
.tcenter {
    text-align: center;
}
.topics-nav {
    border-bottom: 1px solid #000;
}
.topics-nav .nav-link {
    display: inline-block;
    font-size: 13px;
    font-family: 'Work Sans';
    color: #000;
}
.topics-nav .nav-link.active {
    color: #00c7c7;
    font-weight: bold;
}
.social-nav li {
    margin-bottom: 10px;
    color: #000;
}
.social-nav .nav-link {
    color: #fff;
    background-color: #000;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    width: 25px;
    line-height: 25px;
    padding: 0!important;
    display: inline-block;
    text-align: center;
    margin: 0;
}
.side-contact  h3 {
    font-size: 26px;
    margin-top: 40px;
}
.side-contact  p {
    font-size: 16px;
    font-family: "Roboto",sans-serif;
}
.side-contact  p + h3 {
    margin-top: 40px;
}
.contact-holder .form-control {
    border: none;
    border-bottom: 1px solid #f4f4f4;
    border-radius: 0;
    font-family: "Roboto",sans-serif;
    height: 50px;
    margin-bottom: 15px;
}
.contact-holder textarea.form-control {
    min-height: 100px;
}
.contact-holder .btn.btn-primary{
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    cursor: pointer;
}
.pxy-20 {
    padding: 20px;
}
.mb-65 {
    margin-bottom: 65px;
}
.no-bg-img {
    background: none;
}
.bg-color-grey {
    background-color: #fafcff;
}
.box.pxy-20 {
    padding: 0 50px 50px;
}
.box.pxy-20 h3 {
    margin-top: 50px;
}
p.bigger.mb-0 {
    margin-bottom: 0;
}
.form-check {
    padding-left: 0;
}
.form-check input[type="checkbox"] {
    visibility: hidden;
    position: absolute;
    left: -50000px;
}
.form-check input[type="checkbox"] + .form-check-label {
    position: relative;
    font-size: 16px;
    font-family: "Roboto",sans-serif;
    color: #12234c;
    padding: 4px 0 0 30px;
    cursor: pointer;
}
.form-check .form-check-label + a {
    color: #00c7c7;
    font-size: 16px;
    cursor: pointer;
}
.form-check input[type="checkbox"] + .form-check-label:before {
    width: 20px;
    height: 20px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border: 1px solid #dfe9f2;
    background-color: transparent;
    position: absolute;
    left: 0;
    top: 5px;
    content: '\2714';
    color: transparent;
    text-align: center;
    line-height: 18px;
}
.form-check input[type="checkbox"]:checked + .form-check-label:before {
    color: #00c7c7;
    background-color: #f9f9f9;
}
.default-padding.our-philosophy.form-holder {
    margin-top: -150px;
    padding-top: 200px;
}

.default-padding.our-philosophy.form-holder#signup {
    margin-top: 0;
    padding-top: 50px;
}

@media (max-width: 767px) {
    .default-padding.our-philosophy.form-holder {
        padding-top: 110px;
    }

    .default-padding.our-philosophy.form-holder#signup {
        padding-top: 0;
    }
}

.default-padding.our-philosophy.form-holder h2 {
    margin-bottom: 50px;
}
.default-padding.our-philosophy.form-holder p.bigger {
    margin-bottom: 20px;
}
.super_container .header .header_top_nav .btn.login{
    background-color: rgba(255, 255, 255, 0.2);
}

.page-sign-up .super_container .header .header_top_nav .btn.login,
.page-blog .super_container .header .header_top_nav .btn.login,
.page-faq .super_container .header .header_top_nav .btn.login {
    background-color: #808080;
    color: #fff;
}

.page-sign-up .super_container .header .header_top_nav .btn.login:hover,
.page-blog .super_container .header .header_top_nav .btn.login:hover,
.page-faq .super_container .header .header_top_nav .btn.login:hover {
    background-color: #939393;
}

.super_container .header.scrolled .header_top_nav .btn.login{
    background-color: #808080;
    color: #fff;
}

.super_container .header.scrolled .header_top_nav .btn.login:hover {
    background-color: #939393;
}

.super_container .home .header_top_nav .btn.login, .profile-page .super_container .header_top_nav .btn.login {
    background-color: #808080;
    color: #fff;
}

.super_container .home .header_top_nav .btn.login:hover,
.profile-page .super_container .header_top_nav .btn.login:hover {
    background-color: #939393;
    color: #fff;
}
.smaller-padding.our-philosophy.platform-holder {
    margin-top: -220px;
    padding-top: 300px;
}
.smaller-padding.our-philosophy.platform-holder .box.full h3 {
    font-weight: normal;
    font-size: 26px;
    margin-bottom: 30px;
}
.smaller-padding.our-philosophy.platform-holder .box.full h5 {
    font-family: 'Work Sans';
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
}
.smaller-padding.our-philosophy.platform-holder .box.full p {
    margin-bottom: 30px;
}
.smaller-padding.our-philosophy.platform-holder .box.full img {
    margin: 0;
    max-height: initial;
}

@media (max-width: 767px) {
    .smaller-padding.our-philosophy.platform-holder .box.full img {
        margin-bottom: 15px;
    }
}

.bg-color-grey .border-right-blue {
    border-right: 2px solid #00c7c7;
}
.bg-color-grey .border-right-blue h5 {
    font-family: 'Work Sans';
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
}
.bg-color-grey .border-right-blue p.dark {
    font-family: 'Work Sans';
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    color: #000000;
    margin-bottom: 3px;
}
.bg-color-grey .border-right-blue span {
    font-family: 'Work Sans';
    font-size: 26px;
    font-weight: normal;
    color: rgb(0, 0, 0);
    font-size: 18px;
}
.bg-color-grey .border-right-blue label {
    font-family: 'Work Sans';
    font-size: 12px;
    font-weight: normal;
    text-align: right;
    color: rgb(0, 0, 0);
}
.bg-color-grey .border-right-blue p.pricing {
    font-family: 'Work Sans';
    font-size: 16px;
    font-weight: normal;
    color: #000;
}

.bg-color-grey .right-content h3 {
    font-family: 'Work Sans';
    font-size: 24px;
    font-weight: normal;
    color: #000;
    margin-bottom: 30px;
}
.bg-color-grey .right-content a {
    font-family: 'Work Sans';
    font-size: 14px;
    font-weight: 500;
    background: #00c7c7;
    color: #ffffff;
    border-radius: 5px;
    padding: 10px;
    text-transform: uppercase;
}

.bg-color-grey .right-content a:hover {
    background: rgb(0, 230, 230);
}
.pb-100 {
    padding-bottom: 100px;
}

@media (max-width: 991px) {
    .pb-md-70 {
        padding-bottom: 70px;
    }
}

@media (max-width: 575px) {
    .pb-xs-50 {
        padding-bottom: 50px;
    }
}

.column-paddings {
    padding-left: 15px;
    padding-right: 15px;
}

.uptext {
    font-family: 'Work Sans';
    font-size: 14px;
    font-weight: 500;
    background: #00c7c7;
    color: #ffffff !important;;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    margin-top: 10px;
    text-transform: uppercase;
}

.uptext:hover {
    background: rgb(0, 230, 230);
}

@media(max-width:992px){
    .logo{
        margin:0;
    }
    .inner-page.profile {
        height: 390px;/*meybebug*/
    }

    @media (max-width: 455px) {
        .inner-page.profile {
            height: 490px;/*meybebug*/
        }
    }
    .profile-page .have-absolute-image{
        padding:30px 0;
        margin:0;
    }
    .logo img{
        width: 140px;
    }
    .home .background_image{
        background-size: 100% auto;
    }
    .home{
        height:1055px;
    }
    .video-holder{
        position:static;
        margin: 40px auto;
    }
    .one-card{
        display: block!important;
    }
    .one-program-card{
        max-width: 100%;
        width:100%;
    }
    .programs .d-flex,.footer .d-flex{
        display:block!important;
    }
    .one-program-card:nth-of-type(1):after, .one-program-card:nth-of-type(2):after{
        display:none;
    }
    .platform .position-absolute{
        position:static!important;
        margin-top: 15px;
        align-self: flex-start;
    }
    .separator{
        margin:30px 0;
    }
    .one-card.col-lg-6{
        width:100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .left-border-with-circles{
        padding:30px 0 0 30px;
    }
    .up-next{
        text-align: right;
        width: 100%;
        height: auto;
    }
    .box.full p{margin-bottom:16px!important;}

    .bg-color-grey .right-content h3 { margin-top: 20px;}
    .bg-color-grey .border-right-blue {
        border-bottom: 2px solid #00c7c7;
        border-right: none;
    }

}

@media (max-width: 767px) {
    .home{
        height: 830px;
    }
}

@media (max-width: 575px) {
    .home{
        height: 660px;
    }
}

.videoWrapper iframe{width:100%;}
.form_contact_box_css .contact_submit {
    width: auto !important;
    font-family: 'Work Sans' !important;
    font-size: 14px !important;
    font-weight: 500 !important;
    letter-spacing: 0.2px !important;
    color: rgb(255, 255, 255) !important;
    min-width: 150px;
    height: 42px !important;
    line-height: 42px;
    padding: 0;
    border-radius: 21px !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.11);
    background-color: rgb(0, 199, 199);
    border: none;
}
.profile-page.login-page {
    height: 660px !important;
}
.profile-page.login-page  .form_shortcode > .rcp_message {
    margin-bottom: 15px;
    padding-top: 20px
}
@media (max-width: 991px) {

    .profile-page.login-page {
        margin-bottom: 110px;
    }
}

@media (max-width: 480px) {

    .profile-page.login-page {
        margin-bottom: 170px;
    }
}

.our-philosophy a.terms_signup_links {
    color: #00c7c7;
    font-family: inherit;
    font-size: inherit;
}

.before_privacy {
    margin-top: 30px;
}

.sv-sign-up-form-padding-top {
    padding-top: 50px!important;
}

@media (max-width: 450px) {
    .sv-sign-up-form-padding-top {
        padding-top: 0!important;
    }
}
