.sv-pricing {

    &__heading {
        margin-bottom: 40px;

        span {
            color: $c-black;
            font-family: "Work Sans", sans-serif;
            font-size: 12px;
            line-height: normal;
            font-weight: 600;
            letter-spacing: 1.71px;
            text-transform: uppercase;
            margin-bottom: 10px;
            display: inline-block;
        }

        h2 {
            color: $c-black;
            font-family: "Work Sans", sans-serif;
            font-size: 36px;
            font-weight: 300;
            line-height: 1.28;
            margin-bottom: 0;
        }
    }

    &__content {
        padding-left: 15px;
        padding-right: 15px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
        align-items: start;

        @include medium-size-max {
            grid-template-columns: 1fr;
            gap: 30px;
        }
    }
}

.sv-price {
    box-shadow: 0 12px 36px rgba($c-black, 0.06);
    border-radius: 12px;

    &:nth-of-type(1), &:nth-of-type(5) {
        margin-top: 40px;

        @include medium-size-max {
            margin-top: 0;
        }
    }

    &__header {
        border-radius: 12px 12px 0 0;
        background-color: $c-black;
        padding: 16px 55px;
        margin-bottom: 15px;
    }

    &__subtitle {
        color: $c-white;
        font-family: "Work Sans", sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.58;
    }

    &__best {
        color: $c-white!important;
        font-family: "Work Sans", sans-serif!important;
        font-size: 16px!important;
        font-weight: 700!important;
        padding: 10px 45px 10px 20px!important;
        display: inline-block!important;
        background-color: $c-green!important;
        line-height: normal!important;
        position: relative!important;

        &:before {
            content: '';
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 19.5px 13px 19.5px 0;
            border-color: transparent #ffffff transparent transparent;
            position: absolute;
            right: 0;
            top: 0;
        }

        &:after {
            content: '';
            display: block;
            position: absolute;
            background-image: url("./img/best-el.png");
            height: 100%;
            width: 30px;
            left: 0;
            top: 10px;
            transform: translateX(-100%);
        }
    }

    &__body {
        padding: 15px;
    }

    &__title {
        color: $c-black;
        font-family: "Work Sans", sans-serif;
        font-size: 22px;
        font-weight: 400;
        line-height: 1.45;
        margin-bottom: 25px;
        padding: 0 30px;
    }

    &__price, &__payment-repeat {
        font-family: "Work Sans", sans-serif!important;
        color: $c-black!important;
        font-size: 48px!important;
        font-weight: 500!important;
        line-height: 1!important;
    }

    &__payment-repeat {
        color: $c-green!important;
        font-size: 13px!important;
        font-weight: 400!important;
        display: block!important;
        margin-bottom: 40px!important;
    }

    &__button-wrapper {
        padding: 0 20px;
        margin-bottom: 30px;
    }

    &__button {
        font-family: "Work Sans", sans-serif;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 0.88px;
        text-transform: uppercase;
        display: block;
        color: $c-white!important;
        border-radius: 8px;
        border: 1px solid $c-green;
        background-color: $c-green;
        transition: all .3s ease;
        padding: 10px 15px;

        &:hover {
            background-color: rgb(0, 230, 230);
        }
    }

    &__list {
        padding: 20px;
        background-color: $c-white-blue;
    }

    &__items {
        margin-bottom: 20px;

        span {
            color: $c-black;
            font-family: "Roboto", sans-serif;
            display: inline-block;
            margin-bottom: 5px;
            font-size: 16px;
            font-weight: 500;
            line-height: 1.53;
        }
    }

    &__item {
        padding-left: 20px;
        color: $c-black;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-weight: 300;
        line-height: 1.53;
        position: relative;

        &:before {
            content: '\f00c';
            font-family: 'FontAwesome';
            position: absolute;
            left: 0;
            top: 0;
            color: $c-green;
        }
    }

    &__note {
        padding: 20px 5px 0;
        color: $c-black!important;
        font-family: "Work Sans", sans-serif!important;
        font-size: 13px!important;
        font-weight: 300!important;
        line-height: 1.54!important;
    }
}