.sv-progress-bar {
    padding: 20px;
    border-radius: 8px;
    background-color: #f9fafb;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 15px;

    @include medium-size-max {
        gap: 15px 5px;
    }

    &__title {
        color: $c-black;
        font-family: "Work Sans", sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.31;
        margin-bottom: 0;
    }

    &__time {
        color: #9b9b9b;
        font-family: 'Roboto', sans-serif;
        font-size: 13px;
        font-weight: 400;
        margin-left: auto;
    }

    &__chart {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-direction: row-reverse;
        color: $c-green;
        font-family: "Work Sans", sans-serif;
        font-size: 16px;
        font-weight: 700;
        grid-column-start: 1;
        grid-column-end: 3;

        canvas {
            width: 40px;
            margin-right: 20px;
        }
    }
}