.sv-table {
    $p: &;

    width: 100%;
    border-collapse: separate;
    border-spacing: 0 8px;

    &, thead, tbody, th, td, tr {

        @include medium-size-max {
            display: block;
        }
    }

    thead {

        tr {

            @include medium-size-max {
                position: absolute;
                top: -9999px;
                left: -9999px;
            }
        }

        th {
            color: #9b9b9b;
            font-family: Roboto, sans-serif;
            font-size: 13px;
            font-weight: 400;
            line-height: 1.85;
            margin-bottom: 10px;

            &:first-child {
                padding-left: 6px;
            }
        }
    }

    tbody {

        tr {
            border-radius: 8px;
            background-color: #f9fafb;

            @include medium-size-max {
                background-color: transparent;

                &:not(:last-child) {
                    margin-bottom: 25px;
                }
            }
        }

        td {
            padding: 6px;
            color: rgba($c-black, .8);
            font-family: 'Roboto', sans-serif;
            font-size: 14px;
            font-weight: 400;
            line-height: 22px;
            position: relative;

            @include medium-size-max {
                width: 100%;
                padding-left: 50%;
                padding-top: 10px;
                padding-bottom: 10px;
                background-color: #f9fafb;
                min-height: 42px;
            }

            &:before {
                content: attr(data-th);
                display: none;

                @include medium-size-max {
                    display: block;
                    position: absolute;
                    top: 10px;
                    left: 10px;
                    width: 45%;
                    padding-right: 10px;
                    white-space: nowrap;
                }
            }
        }

        #{$p}__status {
            padding: 5px;
            border-radius: 4px;
            color: $c-green;
            text-align: center;
            width: 105px;
            font-size: 13px;
            font-weight: 700;

            @include large-size-max {
                width: 85px;
            }

            &--scheduled {
                background-color: #0645c7;
            }

            &--inactive {
                background-color: #c3cedd;
            }

            &.noactive {
                color: $c-black;
            }

            &.completed {
                color: $c-pink;
            }
        }
    }

    &--wide {

        thead {

            th {
                padding: 0 20px;
            }
        }

        tbody {

            td {
                padding: 9px 20px;

                @include medium-size-max {
                    padding-left: 50%;
                }
            }
        }
    }
}

.sv-table-fixed-header {

    thead {

        th {
            position: sticky;
            top: 0;
            padding: 5px 0;
            z-index: 10;
            background-color: $c-white;
        }
    }
}