@media screen and (max-width: 768px) {
  div.inner-page {
    height: 420px;
  }
  div.inner-page .inner_content h1 {
    font-size: 35px;
    line-height: 40px;
  }
}
.footer-popup .right.block a{
  white-space: nowrap;
}
@media (max-width: 1950px)   {
  .footer-popup .left.block .txt_block {
    max-width: 480px;
  }
}
@media (max-width: 1560px)   {
  .footer-popup .left.block .txt_block {
    max-width: 400px;
  }
}
@media (max-width: 1520px) {
  div.footer-popup {
    width: 80%;
    margin: 0 10%;
  }
  .footer-popup .right.block a {
    padding: 14px 10px;
  }
}

div.left-border-with-circles .left-icon {
  max-width: 165px;
  display: flex;
  justify-content: center;
}

@media (max-width: 580px) {
  div.left-border-with-circles .left-icon {
    max-width: 125px;
    padding-left: 40px;
  }
}

.cookies-not-set {
  .cookie-notice-container {
    padding: 10px 10px;
    @media screen and (max-width: 991px) {
      padding: 7px 5px;
    }
    @media screen and (max-width: 590px) {
      padding: 2px 2px;
      line-height: 1.1;
    }
  }

  #cn-close-notice {
    display: none;
  }

  .cn-text-container {
    margin-bottom: 0;
    display: contents !important;
    @media screen and (max-width: 991px) {
      font-size: 11px;
      display: contents !important;
    }

    a {
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .cn-buttons-container {
    display: contents !important;
    @media screen and (max-width: 991px) {
      display: contents !important;
    }
  }

  .cn-set-cookie.cn-button {
    color: #000000;
    text-shadow: 1px 0 0 #000000, 0 0 0 #000000, 0 0 0 #000000;

    &:hover {
      color: #00c7c7;
      text-shadow: 1px 0 0 #00c7c7, 0 0 0 #00c7c7, 0 0 0 #00c7c7;
    }

    @media screen and (max-width: 991px) {
      font-size: 11px;
    }
  }

  .header, .header.scrolled {
    top: 40px;
    transition: 0.5s;
    @media screen and (max-width: 991px) {
      top: 34px;
    }
    @media screen and (max-width: 550px) {
      top: 46px;
    }
  }
}

div .exit_popup_block .exit-popup .right.block form input.email {
  padding: 12px 24px 12px 24px;
}

.exit_popup_block .exit-popup .right.block form input.email.top {
  margin-bottom: 0;
  text-align: left;
}

.exit_popup_block .exit-popup .right.block .exit_e_popup,
.exit_popup_block .exit-popup .right.block form .contact_submit {
  font-family: 'Work Sans', sans-serif !important;
}

div .exit_popup_block .exit-popup {
  top: 50%;
  transform: translate(0, -50%);
}

@media screen and (max-width: 1440px) {
  div .exit_popup_block .exit-popup .right.block p.under_form {
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 0;
    margin-top: 0;
  }
}

@media screen and (max-width: 768px) {
  div .exit_popup_block .exit-popup .right.block p.under_form {
    font-size: 15px;
  }
  div .exit_popup_block .exit-popup {
    width: 86%;
    margin: 0 7%;
  }
  div .exit_popup_block .exit-popup .right.block form input.email {
    padding: 9px 14px 9px 14px;
  }
  div .exit_popup_block .exit-popup h3 {
    font-size: 16px;
  }
  div .exit_popup_block .exit-popup .left.block .img_block img {
    width: 27%;
  }
  .exit_popup_block .exit-popup .left.block {
    margin-bottom: 12px;
  }
}

.btn_link_copy {
  position: absolute;
  bottom: -20px;
  right: 10px;
  cursor: pointer;
  text-decoration: underline;
  color: #1e1e1e;
  font-family: "Work Sans", sans-serif;
  font-size: 9px;
  font-weight: 400;
  line-height: 1.6;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;

  &.visible {
    opacity: 1;
    visibility: visible;
  }

  &:hover {
    text-decoration: none;
  }

  .message {
    position: absolute;
    top: 5px;
    right: -35px;
    display: none;
    background-color: #8b8b8b;
    color: #fff;
    padding: 1px 10px 2px;
    border-radius: 3px;
    transform: translate(50%, 0);

    &::before {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      top: 0;
      left: -5px;
      border-style: solid;
      border-width: 0 7px 7px 0;
      border-color: transparent #8b8b8b transparent transparent;
    }
  }
}

.download_block .word-pdf-button[data-file-type="word"] {
  width: 100%;
}

.platform-holder.our-philosophy {
  p.p_before_video {
    margin-bottom: 25px;
  }

  iframe {
    background: #000000;
    max-width: 100%;
    margin-bottom: 50px;
    border-radius: 0 !important;
    @media (max-width: 1024px) {
      height: 400px;
      margin-bottom: 20px;
    }
    @media (max-width: 550px) {
      height: 250px;
      margin-bottom: 0;
    }
  }
}

.template {
  padding-bottom: 60px;
  @media (max-width: 550px) {
    padding-bottom: 10px;
  }

  .sv-filter {
    box-shadow: 0 12px 36px rgba(0, 0, 0, 0.06);
    border-radius: 12px;
    background-color: #ffffff;
    grid-template-columns: 1fr;

    //.sv-filter__title {
    //  font-family: 'Work Sans';
    //  font-size: 22px;
    //  font-weight: 300;
    //  letter-spacing: normal;
    //}

    .sv-filter__description {
      //color: #9b9b9b;
      //font-weight: 400;
      //letter-spacing: normal;
      max-width: 800px;
    }

    .sv-filter__top {
      margin-bottom: 30px;
    }

    .sv-tooltip-container {
      //color: #000000;
      //font-family: 'Work Sans';
      //font-size: 14px;
      //font-weight: 500;
      //letter-spacing: normal;
      //text-transform: none;
      //margin-bottom: 5px;
    }

    .sv-filter__item select {
      //box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      //border-radius: 4px;
      //border: 1px solid #f1f1f1;
      //color: #12234c;
      //font-family: 'Work Sans';
      //font-size: 14px;
      //font-weight: 400;
      //letter-spacing: normal;
    }

    .sv-filter__item .select-wrapper::before {
      //background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' fill='%2300c7c7' width='451.847px' height='451.847px' viewBox='0 0 451.847 451.847' style='enable-background:new 0 0 451.847 451.847;' xml:space='preserve'%3E%3Cg%3E%3Cpath d='M225.923,354.706c-8.098,0-16.195-3.092-22.369-9.263L9.27,151.157c-12.359-12.359-12.359-32.397,0-44.751 c12.354-12.354,32.388-12.354,44.748,0l171.905,171.915l171.906-171.909c12.359-12.354,32.391-12.354,44.744,0 c12.365,12.354,12.365,32.392,0,44.751L248.292,345.449C242.115,351.621,234.018,354.706,225.923,354.706z'/%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E%0A");
      //height: 14px;
      //background-size: contain;
      //background-repeat: no-repeat;
    }
  }



  .loading {
    #load_more_template {
      position: relative;
      &::after{
        content: '';
        position: absolute;
        top: 10px;
        right: 30px;
        width: 20px;
        height: 20px;
        display: block;
        transition: 0.5s;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' fill='%23ffffff' width='97.541px' height='97.54px' viewBox='0 0 97.541 97.54' style='enable-background:new 0 0 97.541 97.54;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cpath d='M70.063,27.182c1.398,1.175,3.174,1.821,4.996,1.821c2.312,0,4.488-1.014,5.974-2.782 c2.76-3.289,2.329-8.211-0.96-10.973c-1.4-1.175-3.176-1.822-5-1.822c-2.311,0-4.487,1.014-5.971,2.782 C66.341,19.498,66.773,24.419,70.063,27.182z'/%3E%3Cpath d='M88.445,36.096c-0.483,0-0.971,0.043-1.448,0.127c-4.485,0.791-7.493,5.086-6.702,9.573 c0.696,3.955,4.111,6.825,8.119,6.825c0.482,0,0.972-0.043,1.451-0.126c4.485-0.792,7.492-5.086,6.701-9.571 C95.868,38.968,92.452,36.096,88.445,36.096z'/%3E%3Cpath d='M88.158,63.113c-1.328-0.768-2.834-1.172-4.354-1.172c-3.118,0-6.022,1.675-7.579,4.371 c-1.165,2.019-1.477,4.371-0.872,6.625s2.052,4.139,4.069,5.304c1.329,0.769,2.835,1.174,4.357,1.174 c3.116,0,6.02-1.674,7.576-4.369C93.761,70.874,92.327,65.521,88.158,63.113z'/%3E%3Cpath d='M63.316,78.646c-1.07,0-2.13,0.188-3.15,0.558c-2.31,0.841-4.153,2.532-5.193,4.761c-1.039,2.229-1.148,4.729-0.308,7.04 c1.32,3.626,4.798,6.063,8.654,6.063c1.07,0,2.13-0.188,3.147-0.559c2.308-0.841,4.15-2.531,5.191-4.764 c1.04-2.23,1.15-4.73,0.312-7.037C70.651,81.083,67.172,78.646,63.316,78.646z'/%3E%3Cpath d='M39.903,78.757c-1.074-0.39-2.188-0.588-3.31-0.588c-4.054,0-7.71,2.562-9.097,6.375 c-0.886,2.431-0.771,5.06,0.322,7.403c1.092,2.344,3.031,4.121,5.462,5.006c1.072,0.391,2.187,0.587,3.312,0.587 c4.056,0,7.711-2.562,9.097-6.372c0.884-2.426,0.768-5.055-0.326-7.4C44.268,81.42,42.33,79.641,39.903,78.757z'/%3E%3Cpath d='M24.916,65.6c-1.81-3.133-5.183-5.078-8.805-5.078c-1.771,0-3.522,0.472-5.067,1.361c-2.35,1.357-4.03,3.549-4.731,6.166 c-0.703,2.62-0.343,5.357,1.014,7.706c1.81,3.134,5.184,5.08,8.806,5.08c1.77,0,3.521-0.472,5.065-1.362 C26.046,76.674,27.714,70.45,24.916,65.6z'/%3E%3Cpath d='M11.495,54.991c5.158,0,9.555-3.695,10.453-8.786c0.492-2.797-0.133-5.617-1.762-7.94 c-1.627-2.326-4.063-3.878-6.861-4.372c-0.62-0.108-1.247-0.163-1.86-0.163c-5.158,0-9.555,3.694-10.453,8.785 C0.52,45.31,1.145,48.13,2.774,50.456c1.628,2.325,4.065,3.878,6.861,4.371C10.252,54.936,10.878,54.991,11.495,54.991z'/%3E%3Cpath d='M24.849,32.319c2.599,0,5.131-0.923,7.13-2.598c2.268-1.903,3.659-4.58,3.918-7.538c0.259-2.958-0.647-5.836-2.551-8.104 c-2.114-2.52-5.217-3.965-8.511-3.965c-2.603,0-5.135,0.922-7.131,2.597c-2.271,1.906-3.665,4.583-3.923,7.537 c-0.259,2.952,0.648,5.831,2.555,8.104C18.453,30.873,21.555,32.319,24.849,32.319z'/%3E%3C/g%3E%3Ccircle cx='49.955' cy='12.076' r='12.076'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E%0A");
        animation: loadmore 2s linear infinite;
      }
    }
  }
  @keyframes loadmore {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(360deg);
    }

  }

  #load_more_template {
    font-size: 14px;
    letter-spacing: normal;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    display: table;
    cursor: pointer;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    width: 200px;
    background: #00c7c7;
    color: #ffff;
    border-radius: 20px;
    @media (max-width: 550px) {
      margin-top: 10px;
    }

    &:hover {
      background: rgb(0, 230, 230);
    }
  }

  .template-modal {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
    z-index: 100000;
    opacity: 0;
    visibility: hidden;

    &.active {
      opacity: 1;
      visibility: visible;
    }

    &-close-wrap {
      border-radius: 12px 12px 0 0;
      background-color: #f6f8fa;
      width: calc(100% - 40px);
      max-width: 1110px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding: 10px 20px;
      height: 60px;

      .btn-download {
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        border-radius: 6px;
        border: 1px solid #01b5b5;
        background-color: #00c7c7;
        color: #ffffff;
        font-family: "Work Sans";
        font-weight: 500;
        letter-spacing: normal;
        font-size: 14px;
        padding: 5px 18px;
        transition: 0.5s;
        cursor: pointer;
        margin-right: 20px;

        &:hover {
          background-color: #ffffff;
          color: #00c7c7;
        }
      }
    }

    &-close {
      height: 24px;
      display: block;
      z-index: 10;

      &:hover::after {
        opacity: 0.6;
      }

      &::after {
        width: 24px;
        height: 24px;
        margin-left: auto;
        content: '';
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='44' height='44' viewBox='0 0 44 44'%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cpath fill='%23fff' d='M10 16a6 6 0 0 1 6-6h12a6 6 0 0 1 6 6v12a6 6 0 0 1-6 6H16a6 6 0 0 1-6-6z'/%3E%3Cpath fill='none' stroke='%23f1f1f1' stroke-miterlimit='20' d='M10 16a6 6 0 0 1 6-6h12a6 6 0 0 1 6 6v12a6 6 0 0 1-6 6H16a6 6 0 0 1-6-6z'/%3E%3C/g%3E%3Cg transform='rotate(90 22 22)'%3E%3Cg%3E%3Cg/%3E%3Cg transform='rotate(-45 22 22)'%3E%3Cpath fill='%237c7c7d' d='M16 21h5v-5h2v5h5v2h-5v5h-2v-5h-5z'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
        background-size: 42px;
        background-repeat: no-repeat;
        display: block;
        background-position: -9px -10px;
        transition: 0.5s;
        cursor: pointer;


      }
    }

    &-container {
      width: calc(100% - 40px);
      max-width: 1110px;
      height: calc(100vh - 60px);
      box-shadow: 0 12px 36px rgba(0, 0, 0, 0.06);
      border-radius: 0 0 12px 12px;
      background-color: #ffffff;
      overflow: hidden;
      position: relative;

      .btn-view {
        display: none;
      }


      img {
        width: 100%;
        height: auto;
      }

      object, iframe {
        width: 100%;
        height: 100%;
        border-radius: 0 !important;
      }
    }
  }
}